body {
    margin: 0;
}
header {
    background-color: #0fcabf;
    display: flex;
    width: 100%;
    align-items: center;
}
header>h2 {
    color: white;
    margin-right: auto;
    margin-left: 2%;
}
.nav-heading > a {
    color:white;
    text-decoration: none;
    padding: 0 10px;
    
}
.nav-heading {
    margin-right: 2%;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    color: #333;
    margin: 20px auto 0;
}
    
.caption {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: gray;
}

.container {
    
    display: flex;
    margin: 0 auto;
    width: 95%;
    align-items: flex-start;
    margin-top: 20px;
}
.container > .col {
    width: 48%;
}

#description {
    margin: 0;
    margin-right: auto;
}
.progress-holder {
    position:relative;
    height: 18px;
    width: 80%;
    background-color: black;
}
.progress {
    position:absolute;
    width: 50%;
    background-color: red;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    
}
